{{ define "main" }}
    <section class="blog-page">
        <h1>Blog</h1>
        <div class="blog-grid">
            {{ range .Pages }}
            <div class="blog-card">
                <a href="{{ .Permalink }}">
                    <div class="blog-info">
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Params.Description }}</p>
                        <span class="blog-date">{{ .Date.Format "Jan 02, 2006" }}</span>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </section>
{{ end }}
